.tags*
.vscode/*
.vs/*
.gitignore
bsp/arm/cortex-m4/platforms/stm32f407zgt6/project/RVMDK/Objects/*
bsp/arm/cortex-m4/platforms/stm32f407zgt6/project/RVMDK/Listings/*
bsp/arm/cortex-m4/platforms/stm32f407zgt6/monitor_node/RVMDK/Objects/*
bsp/arm/cortex-m4/platforms/stm32f407zgt6/monitor_node/RVMDK/Listings/*
count.sh